<footer class="p-4 my-6 mx-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 xl:p-8 dark:bg-gray-800">
	<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2026 MBG Rescue Network. Hak cipta dilindungi undang-undang.
	</span>
	<ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
		<li>
			<a href="mailto:hi@handaru.dev" class="hover:underline">Kontak</a>
		</li>
	</ul>
</footer>
