---
import FooterSidebar from './FooterSidebar.astro';
import LayoutCommon from './LayoutCommon.astro';
import NavBarSidebar from './NavBarSidebar.astro';
import SideBar from './SideBar.astro';
---

<LayoutCommon>
	<NavBarSidebar />

	<SideBar />

	<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-950">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-950 min-h-screen"
		>
			<slot />

			<FooterSidebar />
		</div>
	</div>
</LayoutCommon>

<script>
	// Auth Guard
	document.addEventListener('DOMContentLoaded', () => {
		const userStr = localStorage.getItem('user');
		if (!userStr && !window.location.pathname.startsWith('/authentication/')) {
			window.location.href = '/authentication/sign-in';
		}
	});
</script>
